<div class="ui inverted segment">           <!--Our latest weather cards that are displayed when in a station view-->
    <div class="ui inverted five cards">
    <div class="card">
        <div class="extra">
            <h1>{{name}}</h1> <i class="red huge map marker icon"></i>                   <!--Getting data from the station model to display on the card-->
            <h4>Latitude : {{station.lat}} <br> Longitude : {{station.lon}}  {{date}} </h4>
        </div>
    </div>
    <div class="card">
        <div class="extra">
            <h3> Weather </h3> <i class="blue {{weatherIcon}}"></i>   <!--Getting data from the station model to display on the card-->
            <h4> {{latestReports.code}}  <br> {{weatherInfo}}</h4>
        </div>
    </div>
    <div class="card">
        <div class="extra">
            <h3> Temp </h3> <i class="{{tempIcon}}"></i> <i class="blue {{tempTrend}}"></i>  <!--Getting data from the station model to display on the card-->
            <h4> {{latestReports.temp}}°c <br>
            {{tempF}}°F <br> Max Temp : {{maxTemp}}° c <br> Min Temp : {{minTemp}}°c</h4>
        </div>
    </div>
    <div class="card">
        <div class="extra">
            <h3> Wind </h3> <i class="huge green wind icon"></i> <i class="green {{windTrend}}"></i>  <!--Getting data from the station model to display on the card-->
            <h4> {{beaufort}} bft <br> {{windDir}} <br> Feels Like : {{windChillr}} °c
                <br> Max Wind : {{maxWind}} kph <br> Min Wind : {{minWind}} kph  </h4>
        </div>
    </div>
    <div class="card">
        <div class="extra">
            <h3> Pressure </h3> <i class="orange huge compress arrows alternate icon"></i><i class="orange {{pressureTrend}}"></i> <!--Getting data from the station model to display on the card-->
            <h4> {{latestReports.pressure}} hPa <br> Max Pressure : {{maxP}} hpa <br> Min Pressure : {{minP}} hpa  </h4>
        </div>
    </div>
</div>
</div>


<table class="ui table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>  
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each station.readings}}
      <tr>
        <td>
          {{date}}
        </td>
        <td>
          {{code}}
        </td>
        <td>
          {{temp}}
        </td>
        <td>
          {{windSpeed}}
        </td>
        <td>
          {{windDirection}}
        </td>
        <td>
          {{pressure}}
        </td>
        <td>
          <a href="/station/{{../station.id}}/deletereading/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>